.carouselHome {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white !important;

    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselHome-intro {
    text-align: center;
    max-width: 60%;    
}

.carouselHome-image > img {
    height: 10rem;
    width: 15rem;
}

.carouselHome-intro > Button:hover {
    background-color: green !important;
}