.footer {
    margin-top: 20px;
}

.footer-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1620200423727-8127f75d7f53?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-contact > Button {
    font-size: 1.1rem;
    padding: 10px 20px 10px 20px;
}

.footer-contact > Button:hover {
    background-color: #0a8d48 !important;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
